@font-face{font-family:LittleLord;src:url('LittleLordFontleroyNF.ttf');}
@font-face{font-family:mariam;src:url('GHEAMariamReg.otf');}
@font-face{font-family:norkirk;src:url('NorKirk.ttf');}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt mariam;
	background: #EFEFEF;
}

#page
{
	background: white;
}

#head
{
	background: url('../images/1.png');
	opacity: 0.9;
  height: 120px;
  position: fixed;
  width: 100%;
}

#header
{
	margin: 0;
  padding: 10px 20px;
  float: left;
}

#contentarea
{
	padding-top: 120px;
	background: #F1ECEC;
}

#content
{
  padding: 20px;
	margin-top: 50px;
	background: #FFF;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px 20px;
	font-size: 15px;
	text-align: center;
	background: url('../images/1.png');
	color: #F2ECEC;
	height: 80px;
}

#footer p
{
	text-align: left;
	margin-top: 55px!important;
}

#logo
{
	width: 200px;
	height: 100px;
  background: #F1EAEA;
	font-family: LittleLord;
	font-size: 60px;
	color: #421566;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

#m
{
	text-transform: uppercase;
	position: absolute;
	margin: 12px 22px;
}

#d
{
	text-transform: uppercase;
	position: absolute;
	margin: 12px 67px;
}

#l
{
	text-transform: uppercase;
	position: absolute;
	margin: 29px 56px;
}

#text
{
	position: absolute;
	margin: 57px 85px;
	font-size: 22px;
}

#mainmenu
{
	float: left;
	margin-top: 45px;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#F1EAEA;
	background-color:transparent;
	font-size:17px;
	font-weight:bold;
	font-family: norkirk;
	text-transform: uppercase;
	text-decoration:none;
	padding:5px 15px;
}

#mainmenu ul li a {
	display: inline-block;
	position: relative;
}

#mainmenu ul li a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	margin-top: 10px;
}

#mainmenu ul li a:hover:after, #mainmenu ul li.active a:after {
	width: 100%;
	background: #F1EAEA;
}

#user
{
	float: left;
  margin-left: 15px;
	margin-top: 44px;
}

#user ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#user ul li
{
	display: inline;
}

#user ul li a
{
	color:#F1EAEA;
	background-color:transparent;
	font-size:17px;
	/*font-family: LittleLord;*/
	text-decoration:none;
	padding:5px 15px;
}

#user ul li a {
	display: inline-block;
	position: relative;
}

#user ul li a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	margin-top: 10px;
}

#user ul li a:hover:after, #user ul li.active a:after {
	width: 100%;
	background: #F1EAEA;
}

#loginmenu
{
	float: right;
	margin-right: 20px;
	margin-top: 28px;
	text-align: center;
}

#loginmenu ul
{
	margin: 0;
	padding: 0;
}

#loginmenu ul li
{
	display: inline;
}

#loginmenu ul li a
{
	display:block;
	width: 120px;
	color: #421566;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	background: #F1EAEA;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	padding: 15px 0;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 15px;
	padding: 15px 20px;
	margin-bottom: -50px;
}

div.breadcrumbs a, div.breadcrumbs span
{
	color: #421566;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
